body{
    margin: 0;
    padding: 0;
    background:url("../images/food-bg.jpg")  no-repeat right top;
    background-size: 100%;
}
.cover{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 200;
}
.fa-bars{
    padding:15px;
    font-size: 2em;
    position: fixed;
    margin-top: 2px;
    cursor: pointer;
    background: rgba(0, 0, 255, 0.52);
    z-index: 20000;
    opacity:1 ;
    left: 17px;
    color: #fff;
}
.side-menu{
    position: fixed;
    width:0px;
    margin-top: 0px;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    background:linear-gradient(30deg,rgba(0, 0, 255, 0.7),rgba(0, 128, 0, 0.7),rgba(0, 0, 255, 0.7)); 
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2000;
   
}
.fa-times{
    right: 17px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    color: white;
    transition: all 0.3s ease-in-out;
}
.heading{
    text-align: center;
    margin: 50px 5px 3px 5px;
    color:#fff;
    border: 5px solid rgb(0, 255, 191);
    border-radius: 10px;
    font-family:'comic sans MS';
}
.show{
opacity:1;
width: 250px;
transition: all 0.3s ease-in-out;

}

.hide-bars{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.list{
    margin-top: 10px;
   width: 100%;
}
.list ul{
    list-style: none;
    text-align: center;
   
}
.list ul li a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.list ul li:hover{
    background: #0002;
    text-align: center;
    margin-right: 10px;
    border-radius: 20px;
}
header{
z-index:600;
color: #fff;
background:linear-gradient(45deg,rgba(0, 128, 0, 0.99),rgba(255, 255, 255, 0.287),rgba(0, 128, 0, 0.99)) ;
height: 4em;
}
.fa-user{
    color: #fff;
    font-size: .8em;
    margin-right: 5px;
}
.header-right{
    margin-top: 8px;
    float: right;
    text-align: center;
    padding-right: 20px
}
.header-right .login a{
color: #fff;
text-decoration: none;
}
.header-right .login{
    float: left;
}
header h2{
    float: left;
    margin-left: 20px;
    border-bottom: 9px solid #fff;
    border-top: 1px solid #fff;
    box-sizing: border-box;
}
.header-right .register a{
    color: #fff;
    text-decoration: none;
}
.header-right .register{
    float: left;
    margin: 0 10px;
}
#myModal{
    position: absolute;
    z-index: 2000;
    width: 60%;
    margin-top: 0px;
    margin-left: 20%;
}
#myLogin{
    width:50%;
    margin-left: 25%;
    overflow: hidden;
}